name: Deploy Vite to GitHub Pages

on:
  push:
    branches: ["main", "master"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      # dist 폴더를 pages로 배포
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
